* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
  }
.app-background{
    background-image: url(../assets/img/foodbackground.jpg);
}

.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}
.vh100 {
	height: 100vh;
}

.welcome{
    color: tomato;
    font-size: 71px;
    font-weight: 700;
    position: relative;
    top: 2.8em;
}
.home-body{
    background-color: blanchedalmond;
}

.map{
    align-items: center;
    height: 45vh;
    padding-left: 1em;
    margin-top: 6em;
  }
  .map iframe{
    padding: 0;
    height: 38vh;
    border: 0;
  }

 .form-control{
     outline: 2px solid green;
     width: 17em;
     display: inline-block;
     position: relative;
     bottom: 2em;
     left:4.5em;
 }
 label{
     outline: 2px solid blue;
     display: inline-block;
     position: relative;
     bottom: 3em;
     left: 5em;
 }
 