<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodmap</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="home-body">
    <!--header-->
    <header class="home-header hidden-xs hidden-sm">
        <div class="container-fluid">
            <div class="row">
                <div class="home-text col-md-12 col-lg-12">
                    <h1>Foodmap</h1>
                </div>
            </div>
        </div>
    </header>
    <!--mapa-->
    <div class="row">
        <div class="col-xs-12">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d124870.73940718165!2d-76.98757359295033!3d-12.029017106498529!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses-419!2spe!4v1514663533893"
                    width="400" height="250" frameborder="0" style="border:0" allowfullscreen class="col-xs-12"></iframe>
            </div>
        </div>
    </div>
    <!--filtro-->
    <form class="navbar-form navbar-home" role="search">
        <div class="form-group">
            <label for="usr">Encuentra tu Comida Favorita!:</label>
            <select class="form-control">
                <option value="principal">Seleccionar</option>
                <option class="styles-option" value="japan">Japonesa</option>
                <option class="styles-option" value="thai">Tailandesa</option>
                <option class="styles-option" value="mexico">Mexicana</option>
                <option class="styles-option" value="peru">Peruana</option>
            </select>
        </div>
    </form>
    <!--Comidas japonesa-->
    <div id="japan-food" class="hidden margin-div">
            <div class="row">
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/sushi1.jpg" alt="" class="img-responsive imagen-circle" data-target='#oishi-sushi' data-toggle="modal">
              </div>
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/sushi2.jpg" alt="" class="img-responsive imagen-circle" data-target='#Asuka' data-toggle="modal">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/sushi3jpg" alt="" class="img-responsive imagen-circle" data-target='#Ramen-Express' data-toggle="modal">
              </div>
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/sushi4.jpg" alt="" class="img-responsive imagen-circle" data-target='#Maneki-Neko' data-toggle="modal">
              </div>
            </div>
        </div>
        <!--Comidas thai-->
    <div id="thai-food" class="hidden margin-div">
            <div class="row">
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/thai1.jpg" alt="" class="img-responsive imagen-circle" data-target='#Bangkok' data-toggle="modal">
              </div>
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/thai2.jpg" alt="" class="img-responsive imagen-circle" data-target='#Flavors-of-Thailand' data-toggle="modal">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/thai3jpg" alt="" class="img-responsive imagen-circle" data-target='#Budha' data-toggle="modal">
              </div>
              <div class="col-xs-6 col-sm-6 text-center">
                <img src="../assets/images/thaii4.jpg" alt="" class="img-responsive imagen-circle" data-target='#Glow' data-toggle="modal">
              </div>
            </div>
        </div>
        <!--comida mexicana-->
        <div id="mex-food" class="hidden margin-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/mexican1.jpg" alt="" class="img-responsive imagen-circle" data-target='#Pancho-Fierro' data-toggle="modal">
                  </div>
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/mexicab2.jpg" alt="" class="img-responsive imagen-circle" data-target='#Paquita' data-toggle="modal">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/mexican3jpg" alt="" class="img-responsive imagen-circle" data-target='#Kahlo' data-toggle="modal">
                  </div>
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/mexican4.jpg" alt="" class="img-responsive imagen-circle" data-target='#Fresh-Burrito' data-toggle="modal">
                  </div>
                </div>
            </div>
              <!--comida peruana-->
        <div id="peru-food" class="hidden margin-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/peruvian1.jpg" alt="" class="img-responsive imagen-circle" data-target='#Don-Bosco' data-toggle="modal">
                  </div>
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/peruvian2.jpg" alt="" class="img-responsive imagen-circle" data-target='#punto-azul' data-toggle="modal">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/peruvian3jpg" alt="" class="img-responsive imagen-circle" data-target='#Chepita-Royal' data-toggle="modal">
                  </div>
                  <div class="col-xs-6 col-sm-6 text-center">
                    <img src="../assets/images/peruvian4.jpg" alt="" class="img-responsive imagen-circle" data-target='#Don-Tito' data-toggle="modal">
                  </div>
                </div>
            </div>
  
  
  





        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../js/home.js"></script>
</body>

</html>